body {
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
  background-image: url("../img/parlor.jpg");
  background-size: 100% auto;
  background-color: transparent;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

#small-pizza {
  margin-top: 140px;
}

#medium-pizza {
  margin-top: 70px;
}

#large-pizza {
  width: 95%;
}

#umaru {
  border: solid black 7px;
  margin-top: 15%;
}

.general-box {
  border: solid black 5px;
  background-color: RGBA(250, 135, 81, .85);
}

#toppings-box {
  margin: 1%;
  padding: .5%;
}

#cart-box {
  margin: 1%;
  padding: 1%;
}

#add-pizza {
  display: block;
  margin: 5%;
  text-align: center;
}

svg {
  margin-bottom: 6px;
  margin-right: 5px;
}

#header {
  height: 7em;
  @font-face {
    font-family: "Chomsky";
    src: url("../font/Chomsky.otf");
  }
}
