body {
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
}

.hidden {
  display: none;
}

#small-pizza {
  margin-top: 140px;
}

#medium-pizza {
  margin-top: 70px;
}

#large-pizza {
  width: 95%;
}