body {
  box-sizing: border-box;
  font-family: sans-serif, Courier, monospace;
}

.hidden {
  display: none;
}

/* .small-pizza {
  filter: drop-shadow(2px 0px 0 red) drop-shadow(0px 2px 0 red) drop-shadow(-2px -0px 0 red) drop-shadow(-0px -2px 0 red);
} */